<form asp-action="Signup" method="post">
    <input name="Name" placeholder="Name" required />
    <input name="Email" id="emailInput" placeholder="Email" required />
    <span id="emailError" class="text-danger"></span>
    <input type="password" name="Password" placeholder="Password" required />
    <button type="submit">Sign Up</button>
</form>
